* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul {
   list-style-type: none;
}
body {
   background-color: #f3f3f3;
}
img {
   max-width: 100%;
   height: auto;
   display: block;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.menu-wrap {
   padding: 15px 0;
}

.menu {
   display: flex;
   justify-content: space-between;
   max-width: 40%;
   margin: 0 auto;
}

.menu li {
   font-size: 18px;
   font-weight: 600;
   list-style-type: none;
}

.menu li a {
   text-decoration: none;
}

main {
   padding-top: 40px;
}

details {
   background-color: white;
   width: max-content;
   padding: 10px;
   border-radius: 20px;
   margin-top: 20px;
   position: relative;
}

details summary span {
   margin-left: 10px;
}

details ul {
   position: absolute;
   left: 0;
   margin-top: 10px;
   background-color: white;
   width: max-content;
   padding: 10px;
   z-index: 1;
}

details ul li {
   border-bottom: 0.5px solid #d1d1d1;
   cursor: pointer;
}

details ul li:not(:last-child) {
   margin-bottom: 6px;
}

.cars-img {
   margin-top: 20px;
}

.cars-img figure {
   display: none;
   filter: drop-shadow(10px 10px 10px #3b3c4a);
}