* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   text-align: center;
   margin-top: 40px;
}

.box {
   position: relative;
   width: 402px;
   height: 402px;
   margin: 20px auto 0;
   border: 1px solid #000;
}

.box__cube {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   margin: 5px;
   background-color: aquamarine;
}

.start-animation {
   display: block;
   width: max-content;
   padding: 5px 10px;
   border-radius: 5px;
   border: 1px solid #dcdcdc;
   box-shadow: 3px 3px 6px -1px #000;
   
   margin: 20px auto 0;
   cursor: pointer;

   font-size: 20px;
   line-height: normal;

   transition: box-shadow 0.2s ease-in;
}

.start-animation:active {
   box-shadow: 3px 3px 6px -1px #ffffff00;
}